syntax enable
set number
set showcmd
"" set mouse=a
set cursorline
filetype indent on
set wildmenu
set showmatch
set incsearch
set hlsearch

" Auto text wrapping
set wrap

" Encoding
set encoding=utf-8

" Status bar
set laststatus=2

" Intent width
set shiftwidth=2
